<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="poems">
                    <app-poem></app-poem>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="router-outlets">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>


    </div>

    <!-- <div class="split left">
        <div class="centered">
            <app-poem></app-poem>
        </div>
      </div>
      
      <div class="split right">
        <div class="centered">
            <router-outlet></router-outlet>
        </div>
      </div> -->
</body>