<div class="header">
  <button routerLink="./app-list">
    <mat-icon class="icon larger-icon" svgIcon="menu"></mat-icon>
  </button>
  <div><b>{{appName}}</b></div>
  <div class="links-container">
    <ng-container *ngFor="let link of links">
      <a [routerLink]="link.url" class="link">{{ link.name }}</a>
    </ng-container>
  </div>
  <div class="user-info">
    <mat-icon svgIcon="user" class="icon user-photo" aria-hidden="false"></mat-icon>
    <span class="user-name">{{ username }}</span>
  </div>

  <button class="settings-button" mdbDropdownToggle>
    <mat-icon svgIcon="setting" class="icon" aria-hidden="false"></mat-icon>
  </button>

  <!-- Dropdown Content -->
  <div mdbDropdown class="dropdown" *mdbDropdown="let isOpen = isOpen">
    <div data-option="My Profile">My Profile</div>
    <div *ngIf="isDarkMode; else dayModeOption" data-option="Night Mode/Day Mode">Night Mode</div>
    <ng-template #dayModeOption>
      <div data-option="Night Mode/Day Mode">Day Mode</div>
    </ng-template>
    <div data-option="Logout">Logout</div>
  </div>
</div>
