<div class="bg">
    <h2 mat-dialog-title class="center-content mt-3">
        <ng-container *ngIf="!data.skipOldPassword; else skipPassword">
            Change Applock Password
        </ng-container>
        <ng-template #skipPassword>
            Set Applock Password
        </ng-template>
    </h2>
    <div mat-dialog-content>
        <form autocomplete="off">
            <div class="form-group mb-3" *ngIf="!data.skipOldPassword">
                <label for="oldPassword">Old Password</label>
                <div class="password-input">
                    <input type="{{ showOldPassword ? 'text' : 'password' }}" class="form-control" id="oldPassword"
                        [(ngModel)]="oldPassword" name="oldPassword" (change)="validateOldPassword()">
                    <button mat-icon-button class="toggle-password-button"
                        (click)="togglePasswordVisibility('oldPassword')">
                        <mat-icon>{{ showOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </div>
                <div *ngIf="oldPasswordError" class="error-message mt-2 text-danger">
                    <span class="error-icon ">*</span>
                    {{ oldPasswordError }}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="newPassword">New Password </label>
                <div class="password-input">
                    <input type="{{ showNewPassword ? 'text' : 'password' }}" class="form-control" id="newPassword"
                        [(ngModel)]="newPassword" name="newPassword" (input)="validateNewPassword($event)">
                    <button mat-icon-button class="toggle-password-button"
                        (click)="togglePasswordVisibility('newPassword')">
                        <mat-icon>{{ showNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </div>
                <div *ngIf="newPasswordError" class="error-message mt-2 text-danger">
                    <span class="error-icon ">*</span>
                    {{ newPasswordError }}
                </div>
            </div>
            
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <div class="password-input">
                    <input type="{{ showConfirmPassword ? 'text' : 'password' }}" class="form-control"
                        id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" (input)="validateConfirmPassword()">
                    <button mat-icon-button class="toggle-password-button"
                        (click)="togglePasswordVisibility('confirmPassword')">
                        <mat-icon>{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </div>
                <div *ngIf="confirmPasswordError" class="error-message mt-2 text-danger">
                    <span class="error-icon ">*</span>
                    {{ confirmPasswordError }}
                </div>
            </div>

        </form>
    </div>
    <div mat-dialog-actions class="center-content">
        <button mat-flat-button color="primary" (click)="savePassword()" [disabled]="!isInputValid">Save</button>
        <button mat-flat-button color="warn" mat-dialog-close>Close</button>
    </div>
</div>