.password-input {
    position: relative;
}

.toggle-password-button {
    position: absolute;
    right: 10px; /* Adjust the value to position the button as needed */
    top: 50%;
    transform: translateY(-50%);
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
.center-content{
    display: flex;
    justify-content: center;
  }
/* .bg{
    background-color: rgb(221, 219, 216);
} */
  

