
.mat-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    background-color: transparent; /* Make the background transparent */
  }
  
  .app-lock-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    /* border-radius: 10px; */
    text-align: center;
    width: 300px;
    color: white;
    position: relative;
  }
  
  .lock-message {
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .input-container input {
    width: 50px; /* Adjust the width as needed */
    text-align: center;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
  }
  
  .input-container input:focus {
    outline: none;
    border-color: #007bff; /* Change focus color as needed */
  }
  