<div class="app-lock-container">
    <div class="lock-message">
      <p>This app is locked!</p>
    </div>
    <p *ngIf="showError">
      <span style="color: red;">Incorrect password.</span>
    </p>
    <div class="input-container">
      <input #input1 type="text" [(ngModel)]="digit1" maxlength="2" (input)="onDigitInput(1, $event)" tabindex="1" class="form-control" >
      <input #input2 type="text" [(ngModel)]="digit2" maxlength="2" (input)="onDigitInput(2, $event)" tabindex="2" class="form-control" >
      <input #input3 type="text" [(ngModel)]="digit3" maxlength="2" (input)="onDigitInput(3, $event)" tabindex="3" class="form-control" >
      <input #input4 type="text" [(ngModel)]="digit4" maxlength="2" (input)="onDigitInput(4, $event)" tabindex="4" class="form-control" >
    </div>
  </div>
  