<!-- credit-tab.component.html -->
<div class="static-header">
    <div class="title text-center">My Credit Details</div>
    <div class="address-bar">My Balancesheet | Credit</div>
</div>
<div class="container mt-2 ">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <button class="nav-link" (click)="activeTab = 'add'" [class.active]="activeTab === 'add'">Add</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" (click)="activeTab = 'view'" [class.active]="activeTab === 'view'">View</button>
        </li>
    </ul>
</div>
<div class="container requiredContainer bottom2 mt-4">
    <div *ngIf="activeTab === 'add'">
        <form [formGroup]="creditForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Date: <span class="required">*</span></label>
                        <input type="date" formControlName="date" class="form-control" />
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Amount: <span class="required">*</span></label>
                        <input type="number" formControlName="amount" class="form-control" />
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Credit From: <span class="required">*</span></label>
                        <select formControlName="creditFrom" class="form-control">
                            <option *ngFor="let source of creditSources" [value]="source">{{ source }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" *ngIf="creditForm && creditForm.get('creditFrom')?.value === 'Other'">
                        <label>Other Credit: <span class="required">*</span></label>
                        <input type="text" formControlName="otherCredit" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Remark:</label>
                        <textarea formControlName="remark" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3 mt-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-custom" (click)="onAddMore()"><span class="plus-icon">Add
                                More</span></button>
                    </div>
                </div>

            </div>

            <div class="form-group mt-4">
                <button type="submit" class="btn btn-success">Credit</button>
                <button type="button" class="btn btn-danger left1" (click)="creditForm.reset()">Reset</button>
            </div>


        </form>
    </div>
    <div *ngIf="activeTab === 'view'">
        <div class="mat-table-container">
            <div class="row mt-4">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Filter any column" #input>
                    </mat-form-field>
                </div>
            </div>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
                    <!-- Date Column -->
                    <ng-container matColumnDef="No">
                        <th mat-header-cell *matHeaderCellDef>No.</th>
                        <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
                      </ng-container>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>Date</th>
                        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
                    </ng-container>

                    <!-- Amount Column -->
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef>Amount</th>
                        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
                    </ng-container>

                    <!-- Credit From Column -->
                    <ng-container matColumnDef="creditFrom">
                        <th mat-header-cell *matHeaderCellDef>Credit From</th>
                        <td mat-cell *matCellDef="let element">{{ element.creditFrom }}</td>
                    </ng-container>

                    <!-- Remark Column -->
                    <ng-container matColumnDef="remark">
                        <th mat-header-cell *matHeaderCellDef>Remark</th>
                        <td mat-cell *matCellDef="let element">{{ element.remark }}</td>
                    </ng-container>

                    <!-- Edit and Delete Icons -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" (click)="editCredit(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteCredit(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->

                </table>
            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
<!-- Add dynamic table to display added credits -->